/BlazorServerBudgetApp/.vs/BlazorServerBudgetApp/FileContentIndex
FirstApp/ConsoleApp1/.vs/ConsoleApp1/FileContentIndex/bfb08436-e681-4ae6-8bf9-1ecc183e460b.vsidx
FirstApp/ConsoleApp1/.vs/ConsoleApp1/FileContentIndex/c5d5d48c-27c2-44c7-810b-ea8a81f98370.vsidx
FirstApp/ConsoleApp1/.vs/ConsoleApp1/FileContentIndex/e8677bc0-190b-45e6-8794-59f1e45f9ef3.vsidx
FirstApp/ConsoleApp1/.vs/ConsoleApp1/FileContentIndex/5ea08ec2-04c1-48b1-bd95-8e5dbbe6b8c6.vsidx
FirstApp/ConsoleApp1/.vs/ConsoleApp1/FileContentIndex/3a1b896e-d06a-46d7-a573-b75770ad2be9.vsidx
FirstApp/ConsoleApp1/.vs/ConsoleApp1/FileContentIndex/7a90734f-58b1-4033-8ce4-2223e528267f.vsidx
FirstApp/ConsoleApp1/.vs/ConsoleApp1/FileContentIndex/aa1c7761-c549-47ab-974f-ded8f3be60be.vsidx
FirstApp/ConsoleApp1/.vs/ConsoleApp1/FileContentIndex/6a69b4d6-3565-41ed-9694-a8447ecb30f3.vsidx
FirstApp/ConsoleApp1/.vs/ConsoleApp1/FileContentIndex/5702547e-6352-49ea-bed3-374e5add4562.vsidx
