/BlazorServerBudgetApp/.vs/BlazorServerBudgetApp/FileContentIndex
FirstApp/ConsoleApp1/.vs/ConsoleApp1/FileContentIndex/bfb08436-e681-4ae6-8bf9-1ecc183e460b.vsidx
FirstApp/ConsoleApp1/.vs/ConsoleApp1/FileContentIndex/c5d5d48c-27c2-44c7-810b-ea8a81f98370.vsidx
FirstApp/ConsoleApp1/.vs/ConsoleApp1/FileContentIndex/e8677bc0-190b-45e6-8794-59f1e45f9ef3.vsidx
FirstApp/ConsoleApp1/.vs/ConsoleApp1/FileContentIndex/5ea08ec2-04c1-48b1-bd95-8e5dbbe6b8c6.vsidx
FirstApp/ConsoleApp1/.vs/ConsoleApp1/FileContentIndex/3a1b896e-d06a-46d7-a573-b75770ad2be9.vsidx
FirstApp/ConsoleApp1/.vs/ConsoleApp1/FileContentIndex/7a90734f-58b1-4033-8ce4-2223e528267f.vsidx
FirstApp/ConsoleApp1/.vs/ConsoleApp1/FileContentIndex/aa1c7761-c549-47ab-974f-ded8f3be60be.vsidx
FirstApp/ConsoleApp1/.vs/ConsoleApp1/FileContentIndex/6a69b4d6-3565-41ed-9694-a8447ecb30f3.vsidx
FirstApp/ConsoleApp1/.vs/ConsoleApp1/FileContentIndex/5702547e-6352-49ea-bed3-374e5add4562.vsidx
FirstApp/ConsoleApp1/.vs/ConsoleApp1/FileContentIndex/064344d2-2fb3-4d19-8d12-424808b6b0e6.vsidx
FirstApp/ConsoleApp1/.vs/ConsoleApp1/FileContentIndex/7e044136-191e-47a4-bc22-93d2d7b99fa0.vsidx
FirstApp/ConsoleApp1/.vs/ConsoleApp1/FileContentIndex/476c0fbb-9423-4143-a635-df706cc36a35.vsidx
FirstApp/ConsoleApp1/.vs/ConsoleApp1/FileContentIndex/0804ffd4-0df9-4a13-bbcf-e03deb68f9c5.vsidx
FirstApp/ConsoleApp1/.vs/ConsoleApp1/FileContentIndex/fe76b9f3-2d7d-4bf0-a168-9b1b72a4f066.vsidx
FirstApp/ConsoleApp1/.vs/ConsoleApp1/FileContentIndex/c9f6b85b-bd7b-4fed-8b07-6d01c9b16b0f.vsidx
FirstApp/ConsoleApp1/.vs/ConsoleApp1/FileContentIndex/3c14e62f-60c6-46d2-b67b-c3ab0b356e3e.vsidx
TemeSIIT/.vs/TemeSIIT/FileContentIndex/8d1e7c05-98ee-4086-afe3-ea9e1f8d0b75.vsidx
TemeSIIT/.vs/TemeSIIT/FileContentIndex/e6ab1520-86e9-4d4b-b2b7-7ff6dcb7b0df.vsidx
TemeSIIT/.vs/TemeSIIT/FileContentIndex/b6897382-1d6e-4520-b2b1-cc16ec5b908a.vsidx
TemeSIIT/.vs/TemeSIIT/FileContentIndex/7cea6640-1197-47b9-ba16-fb85d5f13647.vsidx
TemeSIIT/.vs/TemeSIIT/FileContentIndex/28a48cad-934f-42e2-b66a-273c8e6d87f4.vsidx
ConsoleApp1/.vs/ConsoleApp1/FileContentIndex/2b7cc8d6-0fce-4967-a50b-1129c68a421c.vsidx
ConsoleApp1/.vs/ConsoleApp1/FileContentIndex/fa84a00b-3e3b-4f0c-ba91-3d13a2b5be29.vsidx
FirstApp/ConsoleApp1/.vs/ConsoleApp1/FileContentIndex/8d822a88-060f-48eb-9f56-7c5166a65091.vsidx
ConsoleApp1/.vs/ConsoleApp1/FileContentIndex/41aa8ee4-3491-4d0a-bbad-e1546217225c.vsidx
ConsoleApp1/.vs/ConsoleApp1/FileContentIndex/acf4476a-090c-48ea-89a9-99c434371e5b.vsidx
ConsoleApp1/.vs/ConsoleApp1/FileContentIndex/4272f009-1078-46b0-be12-45735bbe8045.vsidx
ConsoleApp1/.vs/ConsoleApp1/FileContentIndex/c4ce5a98-563e-48c2-9760-e189217a4ef6.vsidx
ConsoleApp1/.vs/ConsoleApp1/FileContentIndex/e560d464-c94c-4c17-b21d-a176899b8c46.vsidx
ConsoleApp1/.vs/ConsoleApp1/FileContentIndex/0b882399-cd56-444f-a350-c39a864d3800.vsidx
ConsoleApp1/.vs/ConsoleApp1/FileContentIndex/18eb7090-45a2-490f-bf38-ceeadee3ce2d.vsidx
ConsoleApp1/.vs/ConsoleApp1/FileContentIndex/8485e017-e1d9-4133-900a-1483481343bf.vsidx
ConsoleApp1/.vs/ConsoleApp1/FileContentIndex/0eb1d3be-3734-4295-a3f4-27c9e98451e7.vsidx
ConsoleApp1/.vs/ConsoleApp1/FileContentIndex/1d7d7fd7-ef3c-408c-81b8-97e02bdc17f0.vsidx
ConsoleApp1/.vs/ConsoleApp1/FileContentIndex/3646b3d0-9f67-47fd-8fad-bde435f1a9ff.vsidx
